body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: white;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.form-container h2 {
  margin-bottom: 1em;
  color: #4caf50;
}

.form-container label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.form-container input[type='text'],
.form-container input[type='email'],
.form-container input[type='password'],
.form-container input[type='tel'],
.form-container textarea {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.form-container button {
  width: 100%;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 1em;
}

.form-container button:hover {
  background-color: #45a049;
}
